/* common shared style  */

body {
    font-family: 'Open Sans', sans-serif;
}

.primary-color {
    color: #FD6E0A;
}

.primary-btn {
    border-radius: 5px;
    border: 0;
    background: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 18px;
}


/* common shared style end */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.nav-menus>ul {
    display: flex;
    align-items: center;
}

.nav-menus>ul>li {
    font-size: 20px;
    margin-left: 50px;
    list-style: none;
}

.nav-menus>ul>li>a {
    text-decoration: none;
    color: #474747;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0px 150px;
}

.banner-content {
    /* align-items: center; */
    max-width: 500px;
}

.banner-greeting {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}


/* headr portion */

header {
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}


/* banner pricture */

.banner-image {
    width: 500px;
}


/* about section start */

.about {
    margin: 130px;
    padding: 130px 150px;
    border-radius: 10px;
    text-align: center;
    justify-content: centers;
    background-color: #FFF8F3;
}


/* shared style  */

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0px;
}


/* shared styles  */

.section-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0px;
    text-align: center;
}

.about-bio {
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin: 0;
}

.about-bio-data {
    margin-left: 50px;
    font-size: 18px;
}

.color {
    color: #474747;
    font-weight: 800;
}


/* What i do section start*/

#what-i-do-description {
    padding: 0px 150px 50px 150px;
}

.skill-container {
    display: flex;
    /* margin: 0px 230px; */
    gap: 24px;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    /* margin-left: 24px; */
    padding: 30px;
    gap: 24px;
}

.skill-description {
    color: #757575;
}


/* main section */

main {
    max-width: 1140px;
    margin: 0px auto;
}


/* Resume section start */

.column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 0;
}

.resume-item-institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0;
}

.resume-item-description {
    color: #756767;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 30px;
}

.resume-container hr {
    margin: 30px;
}

.download-cv-btn {
    text-align: center;
    margin-top: 50px;
}


/* footer start from here */

.footer-container {
    display: flex;
    background-color: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
    gap: 30px;
}

.social-link a {
    margin-right: 25px;
}

.footer-column {
    width: 50%;
}

.contact input[type="text"],
.contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    border: 0;
    border-radius: 5px;
    background: #FFF;
    padding: 18px 30px;
    color: #757575;
    width: 100%;
}


/* last update by me */

.footer-column .section-title,
.section-description {
    text-align: left;
}

.contact-btn {
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 18px;
    background-color: #FFF8F3;
}